<div>
    <h1>Lista de Usuários</h1>
    <div *ngFor="let usuario of lista_usuarios" class="users">
        <p [routerLink]="['/detail', usuario.id.value]">
            <strong>Nome:</strong> {{usuario.name.first}}
        </p>

        <p [routerLink]="['/detail', usuario.id.value] ">
            <strong>Sobrenome:</strong> {{usuario.name.last}}
        </p>

        <p [routerLink]="['/detail', usuario.id.value]">
            <strong>E-mail:</strong> {{usuario.email}}
        </p>

        <p [routerLink]="['/detail', usuario.id.value]">
            <strong>Telefone:</strong> {{usuario.phone}}
        </p>
        <br>
    </div>
</div>